/*------------------------general */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400;700&family=Smythe&display=swap');

html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-image: url("../img/pattern.jpg");
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 76px;
}

.heading1 {
    font-size: 76px;
}

.heading2 {
    font-size: 40px;
    color: black;
    font-family: "Smythe";
    text-align: center;
    margin: 10px;
}

.heading3 {
    font-size: 36px;
    color: white;
    font-family: "Smythe";
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: black;
    font-family: "Smythe";
    text-align: center;
    font-weight: 700;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

hr {
    border: 1px solid rgb(161, 84, 8);
    max-width: 15%;
}

.padding-bottom {
    padding-bottom: 50px;
}

.padding-top {
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

/*------------------------nav bar */
header {
  margin: auto;
  max-width: 90%;
}

.scorekeeper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.flips {
    float: right; 
    margin-left: 30%;
}
    
.time {
    float: left;
    margin-right: 30%;
}

/*------------------------overlay */

/*Some overlay properties from: w3schools https://www.w3schools.com/howto/howto_css_overlay.asp*/

#overlay-seconds,
#overlay-victory,
#overlay-lost {
    position: fixed;
    display: none; 
    width: 100%; 
    min-height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    text-align: center;
}

.overlay-seconds-image,
.overlay-victory-image,
.overlay-lost-image {
    background-size: cover;
    width: 100%; 
    min-height: 100%; 
    position: relative;
    background-repeat: no-repeat;
}

.overlay-seconds-image {
    background-image: url("https://media.giphy.com/media/2j5Jj6bjfNJLy/giphy.gif");
}

.overlay-victory-image {
    background-image: url("https://media.giphy.com/media/p09nbHVNTYn6/giphy.gif");
}

.overlay-lost-image {
    background-image: url("https://media.giphy.com/media/736he3qcXJhwQ/giphy.gif");
}

.overlay-text,
.overlay-text-small {
    color: white;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    margin: auto;
}

.overlay-text {
    padding: 4% 3% 3% 3%;
}

.overlay-text-small {
    padding: 20px;
}

.overlay-icon {
    color: white;
    font-weight: 900;
    font-size: 100px;
    background-color: transparent;
    cursor: pointer;
    object-fit: contain;
}  

#seconds {
    font-size: 36px;
    background-color: transparent;
    color: white;
    text-align: center;
    max-width: 150px;
}

input[type=number] {
  border: 2px solid white;
  border-radius: 12px;
  padding: 5px;
}

input[type=number]:focus {
    border: 2px solid black;
    border-radius: 12px;
    outline: none;
}

button:focus {
  outline: none;
}

/*------------------------game */

/*learning to work with flexbox instead of bootstrap: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.game {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    perspective: 1000px;
}

.card {
    display: inline-block;
    height: 4em;
    width: 4em;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
}

.hover {
    cursor: pointer;
    transform: scale(1);
}

.hover:hover {
    transform:scale(1.05,1.05);
    transition: transform .2s;
}

.hover:active {
    transform: scale(.99);
}

.back,
.front {
    height: auto;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: -1;
}


img {
    margin: auto;
}

.flip .back {
   transform: rotateY(-180deg);
   z-index: -1;
}

.flip .front {
    z-index: 1;
}

/* how to flip a card with css and javascript taken from tutorial https://www.youtube.com/watch?v=ZniVgo8U7ek*/

/*------------------------Media Query */
@media only screen and (max-width: 1100px) {
    #overlay-seconds,
    #overlay-victory,
    #overlay-lost  {
        height: 100%;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .overlay-text {
        font-size: 50px;
    }
    .overlay-text-small {
        font-size: 24px;
    }
}

@media only screen and (min-width: 700px) {
    .game {
        width: 800px;
        height: auto;
    }

    .card {
    height: 110px;
    width: 110px;
    }
}    
