/*------------------------general */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400;700&family=Smythe&display=swap');

html {
    height: 100vw;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 40px;
    color: white;
    font-family: "Smythe";
    text-align: center;
    padding-top: 20px;
}

p {
    font-size: 16px;
    color: white;
    font-family: "Rokkitt";
    text-align: center;
    font-weight: 200;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

body {
    background-image: url("../img/pattern.jpg");
}

hr {
    border: 1px solid rgb(161, 84, 8);
    max-width: 15%;
}

.padding-bottom {
    padding-bottom: 50px;
}

/*------------------------nav bar */
header {
    background-color: rgba(255,255,255, 0.7);
    border: 2px solid black;
}

.navbar-nav {
    padding-left: 80%;
}

.nav-item {
    padding: 0 20% 0 20%;
}

.nav-link:hover {
    color: rgb(161, 84, 8)!important;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.navbar-brand {
    padding-left: 3%;
}

.navbar-brand:hover {
    color: rgb(161, 84, 8)!important;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}

.navbar-light .navbar-brand {
    color: black;
    font-family: 'Smythe', cursive;
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-light .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: 'Rokkitt';
    font-size: 20px;
}

.dropdown-menu {
    background-color: rgba(255,255,255, 0.7);
    margin-top: 10px;
}

.dropdown-item {
    font-family: "Rokkitt";
}

.dropdown-item:active {
    background-color: rgb(161, 84, 8);
}


/*------------------------footer */

.footer-border {
    border: 2px solid black;
    background-color: rgba(255,255,255, 0.7);
}

.footer-text {
    text-align: center;
    padding-top: 20px;
}

a.footer-link {
    color: black;
    font-family: 'Rokkitt';
    margin-top: 25px;
}

/* https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing*/
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

/*------------------------index */
#hero-gif {
    background-image: url("https://media.giphy.com/media/2j5Jj6bjfNJLy/giphy.gif");
    background-size: cover;
    height: 100vw;
    width: 100vw;
    position: relative;
    background-repeat: no-repeat;
    background-color: black;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

.overlay-text {
    color: white;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    margin: auto;
    padding: 10% 3% 3% 3%;
}

.overlay-icon {
    color: white;
    font-weight: 900;
    font-size: 100px;
}

/*------------------------cards */

.back, .front {
    
    max-height: 100%;
    width: auto;
    object-fit: contain;
    position: absolute;
}

.back {
    border-radius: 8px;
    border: 2px solid black;
    padding: 3px;
    background-color: rgba(255,255,255, 0.3);
    max-width: fit-content;
    margin: auto;
}

.front {
    margin: auto;
}

.card {
    height: 25vw;
    min-height: 150px;
    max-height: 300px;
    max-width: 250px;
    margin: auto;
    margin-bottom: 5px;
    padding: 3px;
    background-color: transparent;
/* to position cards on top of each other, idea came from: https://medium.com/free-code-camp/vanilla-javascript-tutorial-build-a-memory-game-in-30-minutes-e542c4447eae*/
    position: relative;
}

.card:active {

}

/*------------------------Media Query */
@media only screen and (max-width: 1100px) {
  #hero-gif {
    background-image: url("https://media.giphy.com/media/2j5Jj6bjfNJLy/giphy.gif");
    height: 60em;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    }
}
