/*------------------------general */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;400;700&family=Smythe&display=swap');

html {
    height: 100vw;
}

body {
    width: fit-content;
    height: fit-content;
}

h1 {
    font-size: 76px;
}

h2 {
    font-size: 40px;
    color: black;
    font-family: "Smythe";
    text-align: center;
    margin: 10px;
}

h3 {
    font-size: 36px;
    color: white;
    font-family: "Smythe";
    text-align: center;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 24px;
    color: black;
    font-family: "Smythe";
    text-align: center;
    font-weight: 700;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

body {
    background-image: url("../img/pattern.jpg");
}

hr {
    border: 1px solid rgb(161, 84, 8);
    max-width: 15%;
}

.padding-bottom {
    padding-bottom: 50px;
}

.padding-top {
    padding-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

/*------------------------nav bar */
header {
  margin: auto;
  width: 100vw;
}

.scorekeeper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.flips {
    float: right; 
    margin-left: 30%;
}
    
.time {
    float: left;
    margin-right: 30%;
}

/*------------------------overlay */

/*Some overlay properties from: w3schools https://www.w3schools.com/howto/howto_css_overlay.asp*/

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2; 
    text-align: center;
}

.overlay-image {
    background-image: url("https://media.giphy.com/media/2j5Jj6bjfNJLy/giphy.gif");
    background-size: cover;
    width: 100vw; 
    height: 100vw; 
    position: relative;
    background-repeat: no-repeat;
}

.overlay-text {
    color: white;
    font-family: 'Smythe', cursive;
    font-weight: 400;
    margin: auto;
    padding: 8% 3% 3% 3%;
}

.overlay-icon {
    color: white;
    font-weight: 900;
    font-size: 100px;
}  

#seconds {
    font-size: 36px;
    background-color: transparent;
    color: white;
    text-align: center;
    max-width: 150px;
    margin-bottom: 20px;
}

#seconds:active {
    color: white;
}

#play {
    background-color: transparent;
    cursor: pointer;
}


/*------------------------game */

/*learning to work with flexbox instead of bootstrap: https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.game {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    perspective: 1000px;
}

.card {
    display: inline-block;
    height: 4em;
    width: 4em;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
}

.hover {
    cursor: pointer;
    transform: scale(1);
}

.hover:hover {
    transform:scale(1.05,1.05);
    transition: transform .2s;
}

.hover:active {
    transform: scale(.99);
}

.back,
.front {
    height: auto;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    z-index: -1;
}


img {
    margin: auto;
}

.flip .back {
   transform: rotateY(-180deg);
   z-index: -1;
}

.flip .front {
    z-index: 1;
}

/* how to flip a card with css and javascript taken from tutorial https://www.youtube.com/watch?v=ZniVgo8U7ek*/

/*------------------------Media Query */
@media only screen and (max-width: 1100px) {
  #hero-gif {
    background-image: url("https://media.giphy.com/media/2j5Jj6bjfNJLy/giphy.gif");
    height: 60em;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 700px) {
    .game {
        width: 800px;
        height: auto;
    }

    .card {
    height: 110px;
    width: 110px;
    }
}    
